{% extends 'base.html.twig' %}

{% block title %}New Infos{% endblock %}

{% block body %}
    <h1>Create new Infos</h1>

    {{ include('infos/_form.html.twig') }}

    <a href="{{ path('app_infos_index') }}">back to list</a>
{% endblock %}
